@charset "utf-8";
#box_root{
}
#box_main{
   margin-left: auto;
    margin-right: auto;
}
#box_left{
   margin: 20px auto;
    width: 100%;
    display: table;
}
#box_left .columnSpace{
}
.abs{
   position: absolute;
}
